[submodule "src/screen_capture_lite"]
	path = src/screen_capture_lite
	url = https://github.com/smasherprog/screen_capture_lite
[submodule "screen_capture_lite"]
	path = screen_capture_lite
	url = https://github.com/smasherprog/screen_capture_lite
